<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.2/phpunit.xsd"

        bootstrap="tests/InitTests.php"
	verbose="false"
	stopOnFailure="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>

    </filter>
    <php>
	<env name="PHPUNITRUNNING" value="bar"/>
    </php>

</phpunit>
